## Basics

In [1]:
#integers 
x = 1
type(x)

int

In [2]:
#float 
y= 1.8
type(y)

float

In [3]:
#boolean 
b1 = True
b2 = False

type(b1)

bool

In [4]:
#strings 

z = 'Maths'
type(z)

str

In [5]:
#complex number
Cn = 1.0 + 3.0j  # 'j' to specify the imaginary part
type(Cn)

complex

In [6]:
print(Cn)

(1+3j)

In [7]:
print(Cn.real , Cn.imag)

1.0 3.0

## Variables - is defined through assignment operator(=)

In [8]:
a = 10 
b = 2
print(a)
b

10

2

In [9]:
ten = 10 
ten

10

In [10]:
ten = 'ten'
ten

'ten'

## Strong typing

In [11]:
'Day ' + '1'

'Day 1'

In [12]:
'Day ' + str(a)

'Day 10'

## Simple Expressions - Boolean Evaluation

In [13]:
True and False

False

In [14]:
True or False

True

In [15]:
True is False

False

In [16]:
'a' is 'b'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-16-3f3b4e0cb6ec>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'a' is 'b'

False

## Branching

In [17]:
i = 35

if i < 35:
    print('less than the Passing value')
elif i < 50 and i >= 35:
    print ('average passing marks')
else: 
    print('distinction')

average passing marks

## Advanced Types: Containers

In [18]:
#lists 

l = [1 , 'Name' , ('6th' + ' semester') , 2020]
l

[1, 'Name', '6th semester', 2020]

In [19]:
print(l)
type(l)

[1, 'Name', '6th semester', 2020]

list

In [20]:
l2 = list(l)
l2

[1, 'Name', '6th semester', 2020]

In [21]:
list('classmate')

['c', 'l', 'a', 's', 's', 'm', 'a', 't', 'e']

In [22]:
l=[1,2]
print(l)
l.append('s')
print(l)
l.append('s')
print(l)
l.insert(1, 56)
l

[1, 2]
[1, 2, 's']
[1, 2, 's', 's']

[1, 56, 2, 's', 's']

### Iterations

In [23]:
for i in l:  # i acts as a auto iterator
    print(i)

1
56
2
s
s

## Loops

In [24]:
#Sum of the Numbers in a given List

Nums = [2,4,5,6,8,0,2,4,5]

sum = 0

#performing Sum using loops 
for val in Nums:
    sum = sum + val
    
print('The sum is' , sum)

The sum is 36

### ~ for loop with else

In [25]:
No = [0,1,2]
for i in No:
    print(i)
else:
    print('No items left.')

0
1
2
No items left.

## ~While loop

In [26]:
n = int(input('Enter n:'))

sum = 0
i = 1

while i <= n:
    sum = sum+i
    i=i+1
#
print("this sum is" , sum)

Enter n:50
this sum is 1275

## Ranging Function

generating sequence of numbers using this function

start stop and step size can be set in the following syntax 
range(start , stop , stepsize).
stepsize is 1 , if not provided. Which is by Default

In [27]:
print(list(range(2,50,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [28]:
q = range(0,10)
print(list(q))
q

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

range(0, 10)

In [29]:
genre = ['Class','School','College','Coding']

for i in range(len(genre)):
    print("I like", genre[i])

I like Class
I like School
I like College
I like Coding

## Break and Continue Statement

### ~Break

In [30]:
for val in "MILTON":
    if val == "T":
        break
    print(val)
    
print("The End")    #Used to terminate the loop

M
I
L
The End

In [31]:
for val in "MILTON":
    if val == "T":
        continue
    print(val)
    
print("The End")    #Used to Skip the iteration

M
I
L
O
N
The End

### ///////Practing//////////

In [39]:
#calculating average marks 
Mks = [50,36,70,98,62]
n = len(Mks)
i=1
tMk=0

for i in Mks:
   tMk = tMk + i
    
sum = tMk/n
print("the Average marks Obtained is" , sum)

the Average marks Obtained is 63.2

In [43]:
#Speed Limit : Print ticket for oer speeding

Speed = int(input("Recieved value from sensors, i.e "))

if Speed < 15:
    print("Slow")
elif Speed >= 15 and Speed<=45:
    print("Moderate")
else:
    print("Speeding, sending value to print ticket")

Recieved value from sensors, i.e 14
Slow